Lingua Quest.xcodeproj/xcuserdata/taqieallah.xcuserdatad/xcschemes/xcschememanagement.plist
Lingua Quest.xcodeproj/project.xcworkspace/xcuserdata/taqieallah.xcuserdatad/UserInterfaceState.xcuserstate
