//
//  Config.xcconfig
//  Lingua Quest
//
//  Created by siam on 14/07/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_BASE_URL = https:/$()/linguaquest-backend-d9th.onrender.com/api/v1
AI_KEY = sbg_C29xqiMZoqmG35dILKq8m_WNo8A8PRHm
AI_BASE_URL = http:/$()/apiaccess.iti.net.eg/api/v1/student
